<FilesMatch "(config.php|url_storage.txt|button_urls.json)">
    Order Deny,Allow
    Deny from all
</FilesMatch>

Options -Indexes

RewriteEngine On
RewriteCond %{ENV:HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]